@page
@model DpsWebManagement.Pages.Groups.DpsEnrollmentGroupsModel
@{
}

<p>
    <a asp-page="CreateDpsEnrollmentGroup">Create new DPS Enrollment group</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DpsEnrollmentGroups[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DpsEnrollmentGroups[0].Name)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DpsEnrollmentGroups)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="form-group" style="width:140px">
                        <a asp-page="../Devices/DpsEnrollmentGroupDevices" asp-route-id="@item.Id">devices</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>